{% extends "layout.html" %}
{% block title %}Games{% endblock %}
{% block content %}
    <a id="game_btn" class="nes-btn is-primary" href="{{ url_for('game.new') }}">New Game</a>
    <table id="games_table">
        <tr>
            <th>Game</th>
            <th>Start date</th>
            <th>Turns</th>
            <th>Completed</th>
            <th>Cheats</th>
            <th>Options</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.created_date.strftime('%Y-%m-%d %H:%M')}}</td>
                <td>{{ game.current_turn }}</td>
                <td>{{ game.completed }}</td>
                <td>{{ game.cheat_mode }}</td>
                {% if not game.completed %}
                    <td>
                        <a class="nes-btn is-primary" href="{{ url_for('game.get_game', game_id=game.id) }}">Resume</a>
                    </td>
                {% else %}
                    <td>
                        <a class="nes-btn is-primary" href="{{ url_for('game.get_game_info', game_id=game.id) }}">View</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}