{% extends "layout.html" %}
{% block title %}Mastermind{% endblock %}
{% block content %}
    <div class="container">
        <div class="game nes-container with-title">
            <h2 class="title">Game</h2>
            <form method="POST" action="{{ url_for('game.make_guess', game_id=game.id) }}">
                {% for i in range(game.amount_of_positions) %}
                    <div class="nes-select">
                        <label for="positions_select">Position {{ i + 1 }}</label>
                        <select required id="positions_select" name="guess">
                            <option value="" disabled selected hidden>Select...</option>
                            {% for color in game.colors %}
                                <option value="{{ color.name }}">{{ color.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                {% if not game.completed %}
                    <button type="submit" class="nes-btn is-primary"
                            onclick="if (this.form.validate()) { this.disabled = true; this.form.submit(); }">
                        Guess
                    </button>
                {% endif %}
            </form>
        </div>
        <div class="box nes-container with-title">
            <h2 class="title">Game Log</h2>
            <section class="message-list messages">
                {% for guess, answer in zip(game.guesses, game.answers) %}
                    <section class="message -right">
                        <!-- Balloon -->
                        <div class="nes-balloon from-right">
                            <p>{{ guess.guess }}</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <!-- Balloon -->
                        <div class="nes-balloon from-left">
                            <p>Perfect: {{ answer.perfect_guesses }} Good: {{ answer.good_guesses }}
                                Incorrect: {{ answer.incorrect_guesses }}</p>
                        </div>
                    </section>
                {% endfor %}
            </section>
        </div>
    </div>
    {% if game.cheat_mode %}
        <div class="nes-container with-title">
            <p class="title">Cheat menu</p>
            <p>{{ game.code }}</p>
        </div>
    {% endif %}
{% endblock %}