.mainnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.mainnav{
    list-style-type: none;
}

main{
    padding: 5%;
    height: 100%;
    position: absolute;
}

#game_btn{
    list-style-type: none;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 70%;
    height: 100%;
}

.box{
    width:30%;
    height: 100%;
}

.messages{
    overflow: auto;
}

#games_table {
    width: 100%;
}

.alert{
    border-color: red;
    background-color: lightcoral;
    list-style-type: none;
}

.victory-stats{
    list-style-type: none;
}

.turns{
    width: 70%;
    height: 100%;
}

.info-stast{
    width: 30%;
}