{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="nes-field">
                <label for="email_field">Email</label>
                <input type="text" id="email_field" class="nes-input" name="email">
            </div>

            <div class="nes-field">
                <label for="password_field">Password</label>
                <input type="password" id="password_field" class="nes-input" name="password">
            </div>

            <button type="submit" class="nes-btn is-primary">Login</button>
        </form>
    </div>
{% endblock %}