{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block content_header %}Login{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="nes-container with-title auth-container">
        <p class="title">Register form</p>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="nes-field auth-field">
                <label for="username_field">Username</label>
                <input type="text" id="username_field" class="nes-input" name="username">
            </div>

            <div class="nes-field auth-field">
                <label for="password_field">Password</label>
                <input type="password" id="password_field" class="nes-input" name="password">
            </div>

            <button type="submit" class="nes-btn is-primary">Login</button>
        </form>
    </div>
{% endblock %}